* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}


body{
  background-color: #333;
}

h2{
  color: #fff;

}

.ama h2{

  padding: 20px;
  padding-left:100px;
  


}

.ama a {
  color: #595959;
  text-decoration: none;
}
.container{
  background-color: #222;
  width: 80vw;
  /* height: 80vh; */
  margin: auto;
  padding:20px;
  border-radius: 10px;
  display: grid;   /*    الابن الاول 5  - التاني 3   تخطيط الصفحة */
  grid-template-columns: 5fr 3fr;  
}
.img{
display: flex;
flex-direction: column;
gap: 50px;
justify-content: center;
align-items: center;

}

.img img,canvas{
  max-width: 45vw;
  max-height: 60vh;
}

.upload input{
  display: none;
}

.upload label{
  color: #fff;
  padding: 8px 20px;
  border: 2px #fff dashed;
  cursor: pointer;

}


/* -------------------------------------- */


.filters ul{
  display: flex;
  flex-direction: column;
  gap: 30px;
  direction: rtl;
}

.filters ul li{
  display: flex;
  flex-direction: column;
  gap: 25px;
 
}

.filters ul li label{
  color: #fff;
}

.filters ul li:last-child{
  flex-direction: row;
  justify-content: space-around;
}

.filters ul li a,span{
  color: #fff;
  padding: 10px 20px;
  background: #060;
  cursor: pointer;
  
}





@media screen and (max-width:650px) {
  .container{
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .img img,canvas{
    max-width: 80vw;
  
  }
  



  
}